<?xml version="1.0" encoding="UTF-8"?>
<con:interface xsi:type="con:RestService" id="5c89d0c8-c9a1-4f56-9a5f-6f02ae568be7" wadlVersion="http://wadl.dev.java.net/2009/02" name="http://www.trainingrite.com 1" type="rest" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:con="http://eviware.com/soapui/config"><con:settings><con:setting id="5c89d0c8-c9a1-4f56-9a5f-6f02ae568be7fileName">http%3A%2F%2Fwww.trainingrite.com-1</con:setting></con:settings><con:definitionCache type="TEXT" rootPart=""/><con:endpoints><con:endpoint>http://www.trainingrite.com</con:endpoint></con:endpoints></con:interface>