<?xml version="1.0" encoding="UTF-8"?>
<con:interface xsi:type="con:RestService" id="d90f3656-fa6d-4ccf-bfac-3d5ef22751ca" wadlVersion="http://wadl.dev.java.net/2009/02" name="http://www.trainingrite.com" type="rest" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:con="http://eviware.com/soapui/config"><con:settings><con:setting id="d90f3656-fa6d-4ccf-bfac-3d5ef22751cafileName">http%3A%2F%2Fwww.trainingrite.com</con:setting></con:settings><con:definitionCache type="TEXT" rootPart=""/><con:endpoints><con:endpoint>http://www.trainingrite.com</con:endpoint></con:endpoints></con:interface>