<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="b01f0986-fef3-493e-9bd1-3653a49c7d57" name="http://www.trainingrite.com 1 TestSuite" xmlns:con="http://eviware.com/soapui/config"><con:description>The test suite generated for the REST service [http://www.trainingrite.com 1]</con:description><con:settings><con:setting id="b01f0986-fef3-493e-9bd1-3653a49c7d57fileName">http%3A%2F%2Fwww.trainingrite.com-1-TestSuite</con:setting></con:settings><con:savedRecentRuns>1</con:savedRecentRuns><con:runType>SEQUENTIAL</con:runType><con:properties/><con:reportParameters/></con:testSuite>